sudo: false
language: ruby

rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.10
  - 2.2.6
  - 2.3.3
  - 2.4.0
  - jruby-19mode
  - jruby-9

services:
  - redis-server

before_script:
  - git submodule update --init --recursive

script: bundle exec rspec -c spec/

env: TRAVIS=1
