language: ruby

rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - 2.1.2
  - jruby-19mode
  - rbx-2

before_script:
  - git submodule update --init --recursive

script: bundle exec rspec -c spec/

env: TRAVIS=1

